<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  
	<display-name>SVcars</display-name>
  
	<welcome-file-list>
  		<welcome-file>VisualizzaAnnunciServlet</welcome-file>
	</welcome-file-list>
	
	<servlet>
	    <servlet-name>VisualizzaAnnunciServlet</servlet-name>
	    <servlet-class>control.VisualizzaAnnunciServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>VisualizzaAnnunciServlet</servlet-name>
	    <url-pattern>/VisualizzaAnnunciServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>verificaCredenziali</servlet-name>
	    <servlet-class>control.VerificaCredenzialiServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>verificaCredenziali</servlet-name>
	    <url-pattern>/verificaCredenziali</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>verificaTarga</servlet-name>
	    <servlet-class>control.VerificaTargaServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>verificaTarga</servlet-name>
	    <url-pattern>/verificaTarga</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>verificaEmail</servlet-name>
	    <servlet-class>control.VerificaEmailServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>verificaEmail</servlet-name>
	    <url-pattern>/verificaEmail</url-pattern>
	</servlet-mapping>
	
  
	<filter>
		<filter-name>TipoUtenteFilter</filter-name>
		<filter-class>control.TipoUtenteFilter</filter-class>
	</filter>

	<filter-mapping>
    	<filter-name>TipoUtenteFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>